---
#Docker tasks

- ansible.builtin.include_tasks: install_docker_ubuntu.yml
  when:
    - ansible_facts["os_family"] == "Debian"
    - ansible_facts["architecture"] == "x86_64"
- ansible.builtin.include_tasks: install_docker_ubuntu_riscv.yml
  when:
    - ansible_facts["os_family"] == "Debian"
    - ansible_facts["architecture"] == "riscv64"
- ansible.builtin.include_tasks: install_docker_archlinux.yml
  when:
    - ansible_facts["os_family"] == "Archlinux"
    - ansible_facts["architecture"] == "x86_64"

- ansible.builtin.include_tasks: install_docker_archlinux_armv7l.yml
  when:
    - ansible_facts["os_family"] == "Archlinux"
    - ansible_facts["architecture"] == "armv7l"

- ansible.builtin.include_tasks: install_docker_rhel.yml
  when: ansible_facts["os_family"] == "RedHat"
- ansible.builtin.include_tasks: install_docker_rhel.yml
  when: ansible_facts["os_family"] == "RedHat"
